.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

a:hover {
  text-decoration: underline;
}